<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyDiary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6C372211DF7B11C00C8C544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6C3723A1DF7B11C00C8C544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6C372451DF7B11C00C8C544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
